@{ 
    ViewBag.Title = "RDashboard";
}

<h3>Random-Effects Model</h3>
<p>
    The following commands will print out the data and calculate and print the confidence interval for the amount of heterogeneity (I^2).
</p>


<h3>Baujat Plot</h3>

<h3>Forest Plot</h3>

<h3>Funnel Plot</h3>
<p>The next commands will print a funnel plot, perform Egger's regression test and the rank correlation test for the biased dataset.</p>
